<h1>Pages#home</h1>
<p><%= Time.now %><p>
<%= link_to "About", about_path %>
<%= link_to "Reviews", reviews_path %>
<!-- <%= link_to "first review", review_path(1) %> -->

<p>Find me in app/views/pages/home.html.erb</p>
